nav {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px solid lightgray;
    width: 31%;
    margin: 0.7em 0.7em;
    padding: 0.7em 0;
}

img {
    width: 31%;
    margin: 0.7%;
    transition: transform 0.2s ease-in;
}

img:hover {
    transform: scale(1.1, 1.1);
}
